body {
    min-width: 310px;
    overflow: hidden;
    overflow-y: auto
}

p {
    font-size: 14px
}

ul ul,
ol ul,
ul ol,
ol ol {
    list-style: none;
}

.cate.dropdown-menu::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    border-top: 0;
    bottom: 100%;
    left: 15px;
    border-bottom-color: #FFF;
    border-width: 11px;
    filter: drop-shadow(1px 0 0 rgba(0, 0, 0, 0.3));
}

.dropdown-cart.dropdown-menu::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    border-top: 0;
    bottom: 100%;
    left: 85%;
    border-bottom-color: #FFF;
    border-width: 11px;
    filter: drop-shadow(1px 0 0 rgba(0, 0, 0, 0.3));
}

.dropdown-user.dropdown-menu::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    border-top: 0;
    bottom: 100%;
    left: 67%;
    border-bottom-color: #FFF;
    border-width: 11px;
    filter: drop-shadow(1px 0 0 rgba(0, 0, 0, 0.3));
}

.nav-pills>li {
    cursor: pointer
}

.nav-pills>li.active>a {
    background-color: #f44336!important;
    box-shadow: 0 2px 2px 0 rgba(244, 67, 54, 0.14), 0 3px 1px -2px rgba(244, 67, 54, 0.2), 0 1px 5px 0 rgba(244, 67, 54, 0.12)!important;
}

.nav-pills>li i {
    font-size: 14px;
    display: inline
}

a,
a:hover,
a:focus {
    text-decoration: none!important;
}

ul.cate-sm.navbar-collapse.hidden-md.hidden-lg.collapse.in {
    overflow-y: visible
}

ul.cate-sm.navbar-collapse.hidden-md.hidden-lg.collapse.in,
ul.cart,
ul.user,
ul.admin {
    padding-left: 15px
}

.label.label-success {
    background-color: #2BBBAD
}

.form-control:focus {
    border: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

footer ul>li {
    display: block;
    padding: 0px;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    display: block;
}

.panel {
    box-shadow: none;
    border: 1px solid rgba(128, 128, 128, 0.24);
}

body.ng-scope.modal-open {
    overflow: auto;
}

div#modalSigin {
    overflow-y: auto;
    z-index: 1700;
}

.signupImage {
    height: 100px;
    width: 100px;
    overflow: hidden;
    display: inline-block
}

.modal-backdrop.in {
    display: none
}

td,
th {
    padding: 5px;
}

.btn-success {
    background-color: #2BBBAD
}

.ta-editor {
    min-height: 300px;
    height: auto;
    overflow: auto;
    font-family: inherit;
    font-size: 100%;
    margin: 20px 0;
}

.body-wrapper {
    margin-top: 80px
}


/*--- footer */

.wrapper {
    padding-bottom: 0px;
}

.wrapper .main.main-raised {
    background-color: #243238;
    color: #fff;
    margin: 0px;
    padding-top: 20px;
    border-radius: 0px
}

.footer-copyright {
    border-top: solid 2px #999999;
    padding: 10px;
}

h5 {
    margin: 0px
}

.off-canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1100;
    background-color: #243238;
    width: 250px;
    height: 100vh;
    color: white;
    overflow-y: scroll;
    box-shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.42), 0 3px 20px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.off-canvas.off {
    animation: slide-out-left 1s linear forwards;
}

@-webkit-keyframes slide-out-left {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1
    }
    100% {
        -webkit-transform: translateX(-1000px);
        transform: translateX(-1000px);
        opacity: 0;
        display: none
    }
}

@keyframes slide-out-left {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1
    }
    100% {
        -webkit-transform: translateX(-1000px);
        transform: translateX(-1000px);
        opacity: 0
    }
}

.off-canvas::-webkit-scrollbar {
    background-color: #243238
}

.off-canvas.active {
    display: block;
    animation: slide-in-left 0.5s linear;
}

@-webkit-keyframes slide-in-left {
    0% {
        -webkit-transform: translateX(-1000px);
        transform: translateX(-1000px);
        opacity: 0
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1
    }
}

@keyframes slide-in-left {
    0% {
        -webkit-transform: translateX(-1000px);
        transform: translateX(-1000px);
        opacity: 0
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1
    }
}

.off-canvas>.nav-pills>li>ul>li>a,
.off-canvas>.nav-pills>li>i,
.off-canvas>.nav-pills>li>a {
    color: white
}

.off-canvas>.nav-pills>li>ul>li>a {
    padding: 10px;
    line-height: 30px;
    clear: both;
    font-weight: 400;
    font-size: 14px
}

.off-canvas>.nav-pills>li>ul>li:hover {
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
}

.category:hover .cate,
.category:focus .cate,
.cate:focus .cate {
    display: block;
    animation: fade-in-bottom 0.3s linear;
}

@-webkit-keyframes fade-in-bottom {
    0% {
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
        opacity: 0
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fade-in-bottom {
    0% {
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
        opacity: 0
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1
    }
}

.category>.cate {
    background-color: #fff
}

.cart:hover .dropdown-cart,
.cart:focus .dropdown-cart,
.dropdown-cart:focus .dropdown-cart {
    display: block;
    animation: fade-in-bottom 0.3s linear;
}

.user:hover .dropdown-user,
.user:focus .dropdown-user,
.dropdown-user:focus .dropdown-user {
    display: block;
    animation: fade-in-bottom 0.3s linear;
}


/*----------*/

.loading {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    z-index: 2000;
    background: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #243238;
    border-right: 16px solid #2BBBAD;
    border-left: 16px solid #f44336;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

div.loaded {
    animation: fade-in-right 2s linear;
}

@-webkit-keyframes fade-in-right {
    0% {
        -webkit-transform: translateX(50px);
        transform: translateX(50px);
        background-color: #f3f3f3;
        opacity: 0
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fade-in-right {
    0% {
        -webkit-transform: translateX(50px);
        transform: translateX(50px);
        opacity: 0
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1
    }
}


/*--header--*/

.navbar-brand img {
    width: 50px;
    margin-top: -10px;
}

.navbar {
    background-color: #243238;
    border-radius: 2px;
    padding: 5px
}

.form-group {
    margin: 0;
}

.search {
    padding: 8px
}

.navbar .navbar-nav>li>a {
    text-transform: none;
    padding: 15px 10px
}

.navbar-fixed-top {
    padding-right: 5px;
}

.navbar .navbar-nav>li>.dropdown-menu {
    margin-top: 3px
}

.nav-pills>li>a {
    text-align: left;
}

li.category:hover .navbar .navbar-nav>li>.dropdown-menu,
{
    display: block;
}

ul.dropdown-cart {
    min-width: 250px;
}

ul.dropdown-cart li .item {
    display: block;
    padding: 3px 10px;
    margin: 3px 0;
}

ul.dropdown-cart li .item:hover {
    background-color: #f3f3f3;
}

ul.dropdown-cart li .item:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

ul.dropdown-cart li.item-left {
    float: left;
}

ul.dropdown-cart li .item-left img {
    width: 50px
}

ul.dropdown-cart li .item-left img,
ul.dropdown-cart li .item-left span.item-info {
    float: left;
    color: #243238;
}

ul.dropdown-cart li .item-left span.item-info {
    margin-left: 10px;
}

ul.dropdown-cart li .item-left span.item-info span {
    display: block;
}

.item-right {
    position: relative;
    left: 20%;
    ;
}

.search {
    position: relative;
    left: 10px;
    height: 41px;
    border: none;
    background-color: white!important;
    margin-bottom: 0px;
}

.btnSearch {
    position: relative;
    border-radius: 0px 3px 3px 0px;
    top: -5px;
    left: -8px;
    z-index: 4;
}

.input-group-btn>.form-group {
    display: inline-block;
}

select.form-control.search.select-search {
    position: relative;
    left: -6px;
    border-radius: 0px!important;
    border: none;
    width: 95px;
}


/*-----*/


/*--home--*/

.panel .panel-heading,
.heading {
    background-color: #243238;
}

.panel .panel-heading h5,
.heading h5 {
    color: #FFF;
}

.heading,
.panel-heading {
    padding: 20px;
    margin-bottom: 5px;
    border-radius: 2px
}

.panelImage {
    max-width: 100%;
}

.fillter {
    margin: 10px;
}

.panel.item {
    text-align: center;
    -webkit-animation: fade-in-right 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.5ms both;
    -moz-animation: fade-in-right 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.5ms both;
    animation: fade-in-right 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.5ms both;
}

.descriptionBlock {
    display: none;
    /*font-size: 15px*/
}

.titlePanel {
    height: 9ex;
}

.item .panel-footer {
    background-color: #fff;
}

.price {
    margin: 0px
}

@-webkit-keyframes fade-in-right {
    0% {
        -webkit-transform: translateX(50px);
        transform: translateX(50px);
        opacity: 0
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1
    }
}

@keyframes fade-in-right {
    0% {
        -webkit-transform: translateX(50px);
        transform: translateX(50px);
        opacity: 0
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1
    }
}


/*-----back to top---*/

#back-to-top {
    position: fixed;
    bottom: 40px;
    right: 10px;
    z-index: 90;
    background: #f44336;
    color: #fff;
    cursor: pointer;
    border: 0;
    text-decoration: none;
    transition: opacity 0.5s ease-out;
    opacity: 0;
}

#back-to-top>i {
    top: 5px
}

#back-to-top.show {
    animation: scale-in-center 1s linear forwards;
}

@-webkit-keyframes scale-in-center {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1
    }
}

@keyframes scale-in-center {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1
    }
}


/*nav-icon*/

.nav-icon.open {
    animation: nav-icon ease-in 0.5s forwards
}

@-webkit-keyframes nav-icon {
    0% {
        border-left: 1px solid #f44336
    }
    25% {
        border-left: 1px solid #f44336;
        border-bottom: 1px solid #f44336;
    }
    50% {
        border-left: 1px solid #f44336;
        border-bottom: 1px solid #f44336;
        border-right: 1px solid #f44336;
    }
    100% {
        border-left: 1px solid #f44336;
        border-bottom: 1px solid #f44336;
        border-right: 1px solid #f44336;
        border-top: 1px solid #f44336;
    }
}

@keyframes nav-icon {
    0% {
        border-left: 1px solid #f44336
    }
    25% {
        border-left: 1px solid #f44336;
        border-bottom: 1px solid #f44336;
    }
    50% {
        border-left: 1px solid #f44336;
        border-bottom: 1px solid #f44336;
        border-right: 1px solid #f44336;
    }
    100% {
        border-left: 1px solid #f44336;
        border-bottom: 1px solid #f44336;
        border-right: 1px solid #f44336;
        border-top: 1px solid #f44336;
    }
}

.icon-bar {
    width: 22px;
    transition: all 0.5s;
    margin-left: 2px
}

.nav-icon.open span:nth-child(1) {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}

.nav-icon.open span:nth-child(2) {
    animation: icon-bar 0.5s linear forwards
}

@-webkit-keyframes icon-bar {
    0% {
        color: #f44336;
        transform: translateX(-5px)
    }
    25% {
        color: #f44336;
        transform: translateX(-10px);
        opacity: 0.5;
    }
    100% {
        color: #f44336;
        transform: translateX(-10px);
        opacity: 0;
    }
}

@keyframes icon-bar {
    0% {
        color: #f44336;
        transform: translateX(-5px)
    }
    25% {
        color: #f44336;
        transform: translateX(-10px);
        opacity: 0.5;
    }
    100% {
        color: #f44336;
        transform: translateX(-10px);
        opacity: 0;
    }
}

.nav-icon.open span:nth-child(3) {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
}


/*-----addbook---*/

.card {
    margin-bottom: 20px;
    padding: 20px;
    position: relative;
}

.addBook .card-title {
    margin-bottom: 20px;
}

.addBook label.control-label {
    font-size: 14px;
    line-height: 1.42857;
}

.price.ng-binding {
    color: #2BBBAD;
    font-weight: 500;
}

.item:hover .hoverPanel {
    display: block;
}

.media {
    text-align: center;
}

.imgCarousel {
    width: 100%;
}

.multi-item-carousel .carousel-indicators li {
    display: none;
}

.carousel .carousel-control {
    width: 10%;
}

.homeCarousel .ng-isolate-scope.carousel {
    overflow: hidden;
}

.homeCarousel img.ng-scope {
    max-width: 100%;
}

.box-image {
    position: relative;
}


/* plugin css */

#gal1 {
    margin-top: 20px;
    border-top: 1px solid lightgray;
    padding-top: 10px;
}

.wrap {
    background-color: #fff;
    display: inline-block;
    width: 100%;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.img-zoom {
    max-width: 250px;
}

.box-image .card {
    position: relative
}

.continue {
    margin: 15px
}

.disable {
    cursor: not-allowed
}

.modal-content .modal-footer button.pull-left {
    padding-left: 16px;
    padding-right: 16px
}


/*---*/


/*----category*/

.item .panel-body.list,
.item .panel-footer.list {
    display: inline-block;
    text-align: left;
}

p.ng-pristine.ng-untouched.ng-valid.ta-bind>p {
    overflow: hidden;
    max-height: 150px;
    text-overflow: ellipsis;
}


/*.block {
    transition: all linear 0.2s
}*/

.list {
    transition: all linear 0.2s
}

.login {
    transition: all linear 0.8s;
}


/*---item--*/

.glyphicon-star {
    color: #fbc02d
}

.imgItem {
    width: 75px
}

.reviews.card {
    position: relative;
}

.reviews.card::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    border-bottom: 0;
    border-left: 0;
    bottom: -15px;
    left: 15px;
    border-top-color: #FFF;
    border-width: 15px;
    filter: drop-shadow(-1px 1px 0 rgba(0, 0, 0, 0.3));
}

.panel-body.list {
    position: relative;
}

.descriptionList {
    width: initial;
    font-size: 12px;
}

.btn-like {
    position: absolute;
    bottom: 70%;
    left: 90%;
}


/*-----Date----*/

span.ng-binding.text-info {
    color: white
}

.col-xs-7.infor>div>h3 {
    margin: 0px
}

.date .btn-sm {
    padding: 5px 5px;
}

.date .uib-day>.btn-sm {
    background-color: transparent;
    color: #333;
    border-radius: 50%;
    margin: 2px;
}

.date .uib-day>.btn-sm.active,
.date .uib-month>.btn-default.active,
.date .uib-year>.btn-default.active {
    background-color: #f44336;
}

span.ng-binding.text-info {
    color: #fff;
}

.date .uib-day>.btn-sm.active>span,
.date .uib-month>.btn-default.active>span,
.date .uib-year>.btn-default.active>span {
    color: #fff;
}

.date .uib-month>.btn-default,
.date .uib-year>.btn-default {
    padding: 5px 5px;
    margin: 2px;
    text-transform: none;
}

.avatar {
    width: 50px;
    height: 50px;
    display: block
}


/*-------add book----*/

.img-cover {
    width: 75px;
    height: 100px;
    overflow: hidden
}


/*----User-----*/

.userAvatar {
    width: 40px;
    height: 40px;
    position: relative;
    top: -10px
}

.profile-userpic {
    max-width: 100px;
    max-height: 100px;
    display: inline-block
}

.user-image {
    width: 100px;
    height: 100px;
    border: 2px whitesmoke solid
}

.profile {
    border: none
}

.profile-content {
    padding: 10px
}

.like {
    background-color: #f44336
}


/*----description-----*/

.inputDescription>.ng-scope.ng-isolate-scope.ta-toolbar.btn-toolbar>.btn-group {
    margin: 0px;
}

.inputDescription .btn:not(.btn-just-icon):not(.btn-fab) .fa,
.navbar .navbar-nav>li>a.btn:not(.btn-just-icon):not(.btn-fab) .fa {
    font-size: 12px
}

.inputDescription button.btn.btn-default.ng-scope {
    padding: 6px 6px;
    border-radius: 0px;
}

.btn-toolbar {
    margin: 0px
}

.ta-editor.ta-html,
.ta-scroll-window.form-control {
    min-height: 150px;
    height: 200px
}

.ta-scroll-window>.ta-bind {
    height: auto;
    min-height: 150px;
    padding: 6px 12px;
}


/*----------------table----------------*/

.rwd-table td:before {
    content: attr(data-th)": ";
    display: none;
    font-weight: bold;
}

.rwd-table td {
    display: block;
}


/*--------------*/

@media screen and (min-width:768px) {
    .bookMenu.collapse {
        display: block!important
    }
    .navbar-nav>li.cart,
    .navbar-nav>li.user {
        float: right;
    }
    .navbar .navbar-nav>li.user-login>a {
        padding-bottom: 0px;
    }
    .shopCart,
    .like {
        opacity: 0;
    }
    .item.panel.panel-default .panel-body {
        overflow: hidden;
        height: 200px;
        width: auto
    }
    .imagePanel {
        display: inline-block;
        margin-bottom: 80px;
        width: 100px;
    }
    .item .panel-footer {
        padding: 0px 10px
    }
    .item .panel-body.list {
        padding: 15px 10px
    }
    .item.panel.panel-default:hover .imagePanel,
    .item.panel.panel-default:focus .imagePanel {
        display: none;
    }
    .item.panel.panel-default:hover .descriptionBlock,
    .item.panel.panel-default:focus .descriptionBlock,
    .item.panel.panel-default:hover .description,
    .item.panel.panel-default:focus .description {
        display: block;
        background-color: white;
        animation: descriptionhover 0.5s ease forwards
    }
    .item.panel.panel-default:hover .shopCart,
    .item.panel.panel-default:focus .shopCart,
    .item.panel.panel-default:focus .like,
    .item.panel.panel-default:hover .like {
        animation: btnhover 3s ease forwards;
    }
    @keyframes btnhover {
        0% {
            opacity: 0;
            transform: translateY(150px)
        }
        25% {
            opacity: 0.5;
            transform: translateY(-10px)
        }
        50% {
            opacity: 1;
            transform: translateY(10px)
        }
        100% {
            opacity: 1;
            transform: translateY(0px)
        }
    }
    @keyframes descriptionhover {
        0% {
            display: block;
            transform: translateY(-150px)
        }
        50% {
            display: block;
            transform: translateY(-50px)
        }
        100% {
            display: block;
            transform: translateY(0px)
        }
    }
    /*----category*/
    .item.panel.panel-default:hover .imagePanel.list,
    .item.panel.panel-default:focus .imagePanel.list {
        display: inline-block;
    }
    .descriptionList p {
        margin: 0px
    }
    /*-----*/
}

@media screen and (max-width: 768px) {
    .navbar .navbar-brand {
        padding: 3px 15px;
    }
    .navbar-brand img {
        margin-top: -2px;
    }
    .body-wrapper {
        margin-top: 80px
    }
    .groupSearch {
        margin-top: 10px;
        padding: 0px;
    }
    button.btn.btn-danger.btnSearch {
        margin-bottom: 3px;
    }
    .carousel-control {
        display: none;
    }
    .hoverPanel {
        display: block;
    }
    .imagePanel {
        width: 120px;
        display: inline-block
    }
    .item .panel-body,
    .item .panel-footer {
        display: inline-block;
        border: none;
        text-align: center;
    }
    .item .panel-footer {
        width: 200px
    }
    .descriptionList,
    .description {
        display: none
    }
    .homeCarousel {
        overflow: hidden;
    }
    .homeCarousel img.ng-scope {
        max-width: 100%;
        position: relative;
    }
    .homeCarousel .carousel .carousel-indicators {
        /*transform: rotateZ(90deg);
        bottom: 50%;
        margin-left: 24%;
        width: initial;*/
        display: none
    }
    .homeCarousel .carousel .carousel-caption {
        padding-bottom: 75px;
    }
    .homeCarousel h1.ng-binding {
        font-size: 1.5em;
    }
}

@media (min-width: 470px) {
    .rwd-table th,
    .rwd-table td {
        display: table-cell;
    }
    .rwd-table .removexs {
        display: none;
    }
}

@media screen and (max-width: 470px) {
    .homeCarousel {
        overflow: hidden;
    }
    .homeCarousel .carousel .carousel-caption {
        padding-bottom: 50px;
    }
    .table>thead>tr>th,
    .table>tbody>tr>th,
    .table>tfoot>tr>th,
    .table>thead>tr>td,
    .table>tbody>tr>td,
    .table>tfoot>tr>td {
        padding: 10px;
        border: none
    }
    .product {
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
    }
    .cover {
        display: block;
        width: 100%;
    }
    .infor {
        width: 100%;
        display: block;
    }
    .rwd-table th {
        display: none;
    }
    .rwd-table td:before {
        content: attr(data-th)": ";
        display: inline-block;
    }
    td.removecart {
        display: none!important;
    }
    .rowBook {
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
    }
}