<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Book Store</title>
	
	<meta name="viewport" content="width=device-width, initial-scale=1">
	 <link rel="icon" href="demo_icon.gif" type="images/bookstoreLogo.png" sizes="16x16">
	<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/mdb.min.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link rel="stylesheet" href="style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

</head>
<body ng-app="BookApp" ng-controller="BooksController as booksctrl">
<nav class="navbar navbar-light unique-color">
		<div class="container-fluid">
		
			<div class="navbar-header">
				<button class="navbar-toggle  navbar-toggler-right" data-toggle="collapse" data-target="#bookMenu">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#"><img src="images/bookstoreLogo.png" alt=""></a>
			</div>
	
		<div class="" id="bookMenu" class="collapse navbar-collapse visible-md">
			<ul class="nav navbar-nav">
				<li class="active waves-effect waves-light" ng-click="booksctrl.selectTab('home')"><a href="">Home</a></li>
				<li class=" waves-effect waves-light"  ng-click="booksctrl.selectTab('category')"><a href="">Category</a></li>
				<li class=" waves-effect waves-light" ng-click="booksctrl.selectTab('admin')"><a href="">Admin</a></li>
				<button class="btn btn-default search " data-toggle="collapse" data-target="#search"><span class="glyphicon glyphicon-search"></span></button>
				
			</ul>   
			
			</div>
		</div>
		<div id="search" class="collapse text-center">
				<input type="text" class="form-control text-center" placeholder="Search here">
			</div>	
	</nav>
	

	<div class="container" ng-show="booksctrl.isSelectedTab('home')">
		<div ng-controller="carousel as carousel">
		    <div uib-carousel active="carousel.active" interval="carousel.myInterval" no-wrap="carousel.noWrapSlides">
		      <div uib-slide ng-repeat="slide in carousel.slides" index="slide.id">
		        <img ng-src="{{slide.image}}" >
		        <div class="carousel-caption">
		          <h1>{{slide.caption}}</h1>
		        </div>
		      </div>
		    </div>
		  </div>
		<div class="row ">

			<div class="col-sm-3 sidenav hidden-xs">
				<div class="panel z-depth-2 ">
					<div class="panel-heading unique-color white-text"><h4>Category</h4></div>
					<div class="panel-body">
					<ul class="nav nav-pills nav-stacked">
  						<li role="presentation" ng-repeat="category in booksctrl.category" class="hoverable"  ng-click="booksctrl.selectTab('category')"><a href="#">{{category.name}}</a></li>
						</ul></div>
				</div>	 	

						
			</div>
			<div class="col-sm-9">
				<div class="col-sm-12 unique-color white-text z-depth-2">
					<h4>New arrivals</h4>
				</div>
				<div class="row">
					<div class="col-md-4 col-sm-6 col-xs-12 box " ng-repeat="book in booksctrl.books| limitTo: 3" ng-click="booksctrl.selectTab($index)" >
				<div class="item panel panel-default">
					<div class="panel-body">
					<img ng-src="{{book.cover}}" alt="">
				</div>
				<div class="panel-footer">
					<h4>
					<a href="" class="title">{{book.title | limitTo:20}}...</a>	
					</h4>
					<p class="author">{{book.author}}</p>
					<p class="price">{{book.price}}$</p>
				</div>
				</div>
				</div>
				<button class="btn btn-default pull-right" type="button" ng-click="booksctrl.selectTab('category')" ><i class="glyphicon glyphicon-chevron-right" ></i></button>
				</div>
				
				
				<div class="col-sm-12 unique-color white-text z-depth-2">
					<h4>New seller</h4>
				</div>

				<div class="col-md-4 col-sm-6 col-xs-12 box " ng-repeat="book in booksctrl.books|limitTo: 3" ng-click="booksctrl.selectTab($index)">
				<div class="item panel panel-default">
					<div class="panel-body">
					<img ng-src="{{book.cover}}" alt="">
				</div>
				<div class="panel-footer">
					<h4>
					<a href="" class="title">{{book.title | limitTo:20}}...</a>	
					</h4>
					<p class="author">{{book.author}}</p>
					<p class="price">{{book.price}}$</p>
				</div>	
				</div>

				</div>
				<button class="btn btn-default pull-right" type="button" ng-click="booksctrl.selectTab('category')"><i class="glyphicon glyphicon-chevron-right" ></i></button>
			</div>			
		</div>
		</div>
		<div class="container" ng-show="booksctrl.isSelectedTab('category')">
			<div class="row">
			<nav class="navbar ">
			    <ol class="breadcrumb">
			        <li class="breadcrumb-item" ng-click="booksctrl.selectTab('home')"><a href="#">Home</a></li>
			        <li class="breadcrumb-item active"><a href="#">category</a></li>
				    </ol>
			</nav>
				<div class="col-sm-12">
					<h4>All books</h4>
				</div>
				<div class="col-sm-3" ng-repeat="book in booksctrl.books" ng-click="booksctrl.selectTab($index)">
				<div class=" item panel panel-default">
					<div class="panel-body">
					<img ng-src="{{book.cover}}" alt="">
				</div>
				<div class="panel-footer">
					<h4>
					<a href="" class="title">{{book.title | limitTo:20}}...</a>	
					</h4>
					<p class="author">{{book.author}}</p>
					<p class="price">{{book.price}}$</p>
				</div>	
				</div>
				
				</div>
				</div>
			</div>
		</div>
		<div class="container" ng-repeat="book in booksctrl.books" ng-show="booksctrl.isSelectedTab($index)" >
			<div class="row">
				<nav class="navbar ">
				    <ol class="breadcrumb">
				        <li class="breadcrumb-item" ng-click="booksctrl.selectTab('home')"><a href="#">Home</a></li>
				        <li class="breadcrumb-item" ng-click="booksctrl.selectTab('category')" ><a href="#">category</a></li>
				        <li class="breadcrumb-item active">{{book.title}}</li>
				    </ol>
				</nav>
				<div class="col-sm-5">
				<div class="box-image">
					<img ng-src="{{book.cover}}" alt="">
				</div>
				</div>
				<div class="col-sm-7">
					<h4> {{book.title}}</h4>
					<p>{{book.author}}</p>
					<p>{{book.price}}$</p>
					<p>Description</p>
					<p>{{book.description}}</p>
				</div>
				<div>
					
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<h4>Related books</h4>
				</div>
			</div>
		</div>
		<div class="container" ng-show="booksctrl.isSelectedTab('admin')">
			<div class="md-form">
				<form name="postForm " ng-submit=" " >
              <label for="inputTitle">Title:</label>
              <input class="form-control" type="text" ng-model="booksctrl.books.title" id="inputTitle" />
              <br>
              <label for="inputAuthor">Author:</label>
              <input class="form-control" type="text" ng-model="booksctrl.books.author" id="inputAuthor" />
              <br>
              <label for="inputDescription">Description</label>
              <textarea class="md-textarea" ng-model="booksctrl.books.description" id="inputDescription" ></textarea>
              <br>
              <label for="inputPrice">Price:</label>
              <input class="form-control" type="text" ng-model="booksctrl.books.price" id="inputPrice" />
              <br>
              <label for="inputCover">Upload cover</label>
              <input class="form-control" type="file" id="uploadimg" ng-model="booksctrl.books.cover" id="inputCover" >
              <br>
               <label for="">Category</label>
               <select class="form-control" name="categoryupdate" >
               	<option ng-repeat="category in booksctrl.category" value="{{category.name}}" ng-model="booksctrl.books.category">{{category.name}}</option>
               </select>
               <br>

         		<input class="btn btn-default" type="submit" value="Submit" />
              </select>
            </form>
			</div>
			
			
		</div>
		<footer class="page-footer unique-color center-on-small-only">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-4">
					<h4 class="title">Newsletter</h4>
					<div class="form">
					<div class="input-group" >
			      	<input type="text" class="form-control" placeholder="Your email">
			      	<div class="input-group-btn">
			        <button class="btn btn-default" type="button"><i class="glyphicon glyphicon-chevron-right"></i></button>
			     	</div>
			   		</div>
			
			</div>
				</div>
				<div class="col-sm-4">
					<h4 class="title">Recent </h4>
				
				  <div class="media-body">
				    <h4 class="media-heading">Media heading</h4>
				    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at,...
				  </div>	
				  <br>
				    <div class="media-body">
				    <h4 class="media-heading">Media heading</h4>
				    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at,...
				  </div>
				</div>
	
				<div class="col-sm-4">
					<h4 class="title">Contact</h4>
					<ul>
						<li>Address: 2411 Any Street. Any Town. United Kingdom.</li>
						<li>Mail to: support@yourstore.com</li>
						<li>Phone: +123 456 7890</li>
					</ul>	

				</div>
			</div>
		</div>
	
		 <div class="footer-copyright unique-color-dark text-center">
        <div class="container-fluid">
            © 2017 Copyright: <a href="#"> Bookstore.com </a>

        </div>
	</footer>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="js/mdb.min.js"></script>
	<script src="js/custom.js"></script>
	<script src="js/main.js"></script>
	<script src="js/ui-bootstrap-tpls-2.5.0.min.js"></script>
</body>
</html>