body {
    min-width: 320px;
    padding-top: 80px
}

a,
a:hover,
a:focus {
    text-decoration: none;
}

footer ul>li {
    display: block;
    padding: 0px;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    display: block;
}

.panel {
    box-shadow: none;
    border: 1px solid rgba(128, 128, 128, 0.24);
}


/*--- footer */

.wrapper {
    padding-bottom: 0px;
}

.wrapper .main.main-raised {
    background-color: #243238;
    color: #fff;
    margin: 0px;
    padding-top: 20px;
}

.footer-copyright {
    border-top: solid 2px #999999;
    padding: 10px;
}

h5 {
    margin: 0px
}


/*----------*/


/*--header--*/

.navbar-brand img {
    width: 50px;
    margin-top: -10px;
}

.navbar {
    background-color: #243238;
    border-radius: 2px;
}

.form-group {
    margin: 0;
}

.search {
    padding: 8px
}

.navbar .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px
}

.navbar-fixed-top {
    padding-right: 5px;
    box-shadow: none;
}

.navbar .navbar-nav>li>.dropdown-menu {
    margin-top: 0px;
}

li.category.dropdown:hover+.navbar .navbar-nav>li>.dropdown-menu,
{
    display: block;
}

ul.dropdown-cart {
    min-width: 250px;
}

ul.dropdown-cart li .item {
    display: block;
    padding: 3px 10px;
    margin: 3px 0;
}

ul.dropdown-cart li .item:hover {
    background-color: #f3f3f3;
}

ul.dropdown-cart li .item:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

ul.dropdown-cart li.item-left {
    float: left;
}

ul.dropdown-cart li .item-left img {
    width: 50px
}

ul.dropdown-cart li .item-left img,
ul.dropdown-cart li .item-left span.item-info {
    float: left;
    color: #243238;
}

ul.dropdown-cart li .item-left span.item-info {
    margin-left: 10px;
}

ul.dropdown-cart li .item-left span.item-info span {
    display: block;
}

ul.dropdown-cart li .item-right {
    float: right;
}

ul.dropdown-cart li .item-right button {
    margin-top: 14px;
}

.search {
    position: relative;
    left: 10px;
    height: 41px;
    border: 1px solid white;
    background-color: white!important;
    margin-bottom: 0px;
}

.btnSearch {
    position: relative;
    top: -7px;
    border-radius: 0px 3px 3px 0px
}


/*-----*/


/*--home--*/

.panel .panel-heading,
.heading {
    background-color: #243238;
}

.panel .panel-heading h5,
.heading h5 {
    color: #FFF;
}

.heading,
.panel-heading {
    padding: 20px;
    margin-bottom: 5px;
    border-radius: 2px
}

.fillter {
    margin: 10px;
}

.item {
    text-align: center;
}

.panelImage {
    width: 100%;
}

.description {
    display: none;
    font-size: 12px
}

.titlePanel {
    height: 9ex;
}

.item .panel-footer {
    background-color: #fff;
}

.price {
    margin: 0px
}


/*-----addbook---*/

.card {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    position: relative;
}

.addBook .card-title {
    margin-bottom: 20px;
}

.addBook label.control-label {
    font-size: 14px;
    line-height: 1.42857;
}

.price.ng-binding {
    color: #2BBBAD;
    font-weight: 500;
}

.item:hover .hoverPanel {
    display: block;
}

.media {
    text-align: center;
}

.imgCarousel {
    width: 100%;
}

.multi-item-carousel .carousel-indicators li {
    display: none;
}

.carousel .carousel-control {
    width: 10%;
}

.homeCarousel .ng-isolate-scope.carousel {
    overflow: hidden;
}

.homeCarousel img.ng-scope {
    max-width: 100%;
}

.box-image {
    position: relative;
}


/* plugin css */

#gal1 {
    margin-top: 20px;
    border-top: 1px solid lightgray;
    padding-top: 10px;
}

.wrap {
    background-color: #fff;
    display: inline-block;
    width: 100%
}

#gallery_01 img {
    border: 2px solid white;
}

.zoomWrapper {
    height: 301px!important;
    width: 213px!important;
}

.zoomWrapper img {
    position: relative!important;
    width: 100%!important
}

a.zoom img {
    border: 2px solid #333 !important;
    padding: 5px;
}

.box-image .card {
    position: relative
}

.continue {
    margin: 15px
}


/*---*/


/*---item--*/

.glyphicon-star {
    color: #fbc02d
}

.imgItem {
    width: 75px
}

.reviews.card {
    position: relative;
    box-shadow: none
}

.reviews.card::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    border-bottom: 0;
    bottom: -15px;
    left: 22px;
    border-top-color: #FFF;
    border-width: 15px;
}

@media screen and (min-width:768px) {
    .bookMenu.collapse {
        display: block!important
    }
    .navbar-nav>li.dropdown.cart,
    .navbar-nav>li.dropdown.user {
        float: right;
    }
    .navbar .navbar-nav>li>a {
        padding: 15px 10px
    }
    .shopCart,
    .like {
        opacity: 0;
    }
    .item.panel.panel-default .panel-body {
        overflow: hidden;
        height: 200px;
        width: auto
    }
    .imagePanel {
        width: 120px;
        display: inline-block
    }
    .item .panel-footer {
        padding: 0px 10px
    }
    .item.panel.panel-default:hover .imagePanel,
    .item.panel.panel-default:focus .imagePanel {
        display: none;
    }
    .item.panel.panel-default:hover .description,
    .item.panel.panel-default:focus .description {
        display: block;
        background-color: white;
        animation: descriptionhover 0.5s ease forwards
    }
    .item.panel.panel-default:hover .shopCart,
    .item.panel.panel-default:focus .shopCart,
    .item.panel.panel-default:focus .like,
    .item.panel.panel-default:hover .like {
        animation: btnhover 4s ease forwards;
    }
    @keyframes btnhover {
        0% {
            opacity: 0;
            transform: translateY(150px)
        }
        25% {
            opacity: 0.5;
            transform: translateY(-20px)
        }
        50% {
            opacity: 1;
            transform: translateY(10px)
        }
        100% {
            opacity: 1;
            transform: translateY(0px)
        }
    }
    @keyframes descriptionhover {
        0% {
            display: block;
            transform: translateY(-150px)
        }
        50% {
            display: block;
            transform: translateY(-50px)
        }
        100% {
            display: block;
            transform: translateY(0px)
        }
    }
}

@media screen and (max-width: 768px) {
    .navbar .navbar-brand {
        padding: 3px 15px;
    }
    .body-wrapper {
        margin-top: 55px
    }
    .groupSearch {
        margin-top: 5px;
        padding: 0px;
    }
    .carousel-control {
        display: none;
    }
    .hoverPanel {
        display: block;
    }
    .item .panel-body,
    .item .panel-footer {
        display: inline-block;
        border: none;
        text-align: center;
    }
    .homeCarousel {
        height: 200px;
        overflow: hidden;
    }
    .homeCarousel .carousel .carousel-indicators {
        transform: rotateZ(90deg);
        bottom: 50%;
        margin-left: 24%;
        width: initial;
    }
    .homeCarousel .carousel .carousel-caption {
        padding-bottom: 75px;
    }
    .homeCarousel h1.ng-binding {
        font-size: 2.5em;
    }
}

@media screen and (max-width: 470px) {
    .homeCarousel {
        height: 150px;
        overflow: hidden;
    }
    .homeCarousel .carousel .carousel-caption {
        padding-bottom: 50px;
    }
    .table>thead>tr>th,
    .table>tbody>tr>th,
    .table>tfoot>tr>th,
    .table>thead>tr>td,
    .table>tbody>tr>td,
    .table>tfoot>tr>td {
        padding: 0px
    }
}