<div class="container" ng-init="viewProfile()">
    <div class="row ">
        <div class="col-sm-3">
            <div class="profile-sidebar wrap">

                <div class="sidenav hidden-xs ">
                    <div class="panel profile">
                        <div class="panel-heading text-center">
                            <div class="profile-userpic">
                                <img ng-src="{{user.avatarUrl}}" class="img-circle img-raised img-responsive user-image" alt="">
                            </div>
                            <h5>{{user.name}}</h5>
                        </div>
                        <div class="panel-body">
                            <ul class="nav nav-pills nav-pills-danger nav-stacked">
                                <li role="presentation"><a href="#/user">Quản Lý Tài Khoản</a></li>
                                <li role="presentation" class="active"><a href="#/user/bill">Đơn Đặt Hàng</a></li>
                                <li role="presentation"><a href="#/user/like">Danh Sách Yêu Thích</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-9" ng-init="getUserOder()">
            <div class=" wrap">
                <div class="heading  ">
                    <h5>Thông Tin Đơn Hàng</h5>
                </div>
                <div class="profile-content">
                    <div ng-repeat="order in orders">
                        <table class="table table-bordered table-hover rwd-table">
                            <caption class="text-left"><strong>Mã đơn hàng</strong> ĐH {{$index+1}}</caption>
                            <thead>
                                <tr>

                                    <th class=" ">Tên Sách</th>
                                    <th class="">Đơn giá</th>
                                    <th class="">Số lượng</th>
                                    <th class="">Thành tiền</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in order.books" class="rowBook">

                                    <td class="" data-th="Tên sách">
                                        <h6>{{item._book.title}}</h6>
                                    </td>
                                    <td data-th="Đơn giá"><span class="price ">{{item.price|number:0}} đ</span></td>
                                    <td class="" data-th="Sớ lượng">{{item.quantity}}</td>
                                    <td data-th="Thành tiền"><span class="price ">{{item.price*item.quantity| number:0}} đ</span></td>

                                </tr>
                                <tr>
                                    <th colspan="3">Tổng tiền</th>
                                    <td colspan="2" data-th="Tổng tiền">{{order.total|number:0}} đ</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>


                </div>

            </div>
        </div>
    </div>
</div>