<div class="container">
    <div class="row  ">

        <div class=" wrap">
            <div class=" heading">
                <h5>Shopping Cart</h5>
            </div>
            <div class="col-sm-12">
                <table class="table table-bordered table-hover rwd-table  ">

                    <thead>
                        <tr>
                            <th class="hidden-xs"></th>
                            <th class=" ">Tên sách</th>
                            <th class="">Đơn giá</th>
                            <th class="">Số lượng</th>
                            <th class="">Thành tiền</th>
                            <th class=""></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in cart">
                            <td class="hidden-xs">
                                <div class="imgItem"><img ng-src="{{item.item.images.main}}" alt="" class="img-responsive hidden-xs" /></div>
                            </td>
                            <td class="" data-th="Tên sách">
                                <button class="btn btn-default btn-xs pull-right removexs" ng-click='removeCart($index)'><i class="fa fa-trash-o"></i></button>
                                <h6>{{item.item.title}} </h6>
                            </td>
                            <td data-th="Đơn giá">
                                <p class="price ">{{item.item.sellingPrice|currency:"$":0}}</p>
                            </td>
                            <td class="" data-th="Số lượng"><input type="number" ng-model="item.qty" min="1" class="form-control" ng-change="changeQty($index)"></td>
                            <td data-th="Thành tiền">
                                <p class="price ">{{item.item.sellingPrice*item.qty| currency:"$":0}}</p>
                            </td>
                            <td class="removecart"><button class="btn btn-default btn-xs" ng-click='removeCart($index)'><i class="fa fa-trash-o"></i></button></td>
                        </tr>

                    </tbody>
                </table>
            </div>

        </div>
    </div>

</div>
<div class="container">
    <div class="row">
        <div class="wrap">
            <div class="col-sm-6">
                <div class="panel">
                    <div class="panel-heading">
                        <h5>DISCOUNT CODES</h5>
                    </div>
                    <div class="panel-body">
                        <label>Enter your coupon code if you have one.</label >
                            <input type="text" class="form-control">
                              <button class="btn btn-danger btn-xs">Apply Coupon</button>
                        </div>
            
                          
                    </div>
                </div>
                <!--<div class="col-sm-6">
                    <div class="panel">
                        <div class="panel-heading">
                            <h5>SHIPPING</h5>
                        </div>
                        <div class="panel-body">
                            <label class="control-label" for="">City/Province</label>
                        <select class="form-control" name="">
		               	        <option  value="" </option>
		                    </select>
                        <label class="control-label" for="">District</label>
                        <select class="form-control" name="">
		               	        <option  value="" </option>
		                    </select>
                    </div>

                </div>
            </div>-->
            <div class="col-sm-6">
                <div class="panel">
                    <div class="panel-heading">
                        <h5>ORDER SUMMARY</h5>
                    </div>
                    <div class="panel-body">
                        <h6>Grand total: <span class="price">{{total|currency:"$":0}}</span></h6>
                    </div>
                    <div class="panel-footer">
                        <button class="btn btn-danger btn-xs" ng-click="checkout()">Checkout</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>