<div>
    <div class="container">
        <div class="row">
            <div class="">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#/">Home</a></li>
                    <li class="breadcrumb-item active"><a href="#/category">Danh mục</a></li>
                </ol>
            </div>


            <div class="col-sm-3 sidenav hidden-xs">
                <div class="panel ">
                    <div class="panel-heading">
                        <h5>Danh mục sách</h5>
                    </div>
                    <div class="panel-body">
                        <ul class="nav nav-pills nav-pills-danger nav-stacked" ng-init="getGenres()">
                            <li role="presentation" ng-repeat="genre in genres"><a href="#/category/{{genre._id}}">{{genre.name}}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-9" ng-init="getBook()">
                <div class="wrap">
                    <div class="heading  ">
                        <h5>Tất Cả Sách</h5>
                    </div>

                    <div class="fillter">
                        <label for="sort">Sort by:</label>
                        <select name="sort" id="sort">
	 			<option value="">Name</option>
	 			<option value="">Price</option>
	 			<option value="">Rate</option>
	 		</select>
                        <label for="">View: </label><button class="btn btn-default btn-sm" ng-click="setView('list')" type="button"><i class="fa  fa-th-list"></i></button>
                        <button class="btn btn-default btn-sm" ng-click="setView('block')" type="button"><i class="fa fa-th-large"></i></button>
                    </div>
                    <div ng-class="isSelectedView('block')?'col-md-3 col-sm-6 block': 'col-sm-12 list '   " ng-repeat="book in filteredBooks ">
                        <div class="item panel panel-default">
                            <div ng-class="isSelectedView('block')?'panel-body':'panel-body list'">
                                <div ng-class="isSelectedView('block')? 'imagePanel':' imagePanel list'">
                                    <a href="#/item/{{book._id}}"><img ng-src="{{book.images.main}}" class="panelImage" alt=""></a>
                                </div>

                                <div class="descriptionBlock" ng-show="isSelectedView('block')">

                                    {{book.shortDescription|limitTo:90|limitTo:90}}<a href="#/item/{{book._id}}">...</a>
                                </div>
                            </div>
                            <div ng-class="isSelectedView('block')? 'panel-footer': 'panel-footer list'">

                                <div ng-class="isSelectedView('block')? 'titlePanel':''">
                                    <h5>
                                        <a href="#/item/{{book._id}}" class="title">{{book.title | limitTo:25}}<span ng-show="book.title.length>25">...</span></a>
                                    </h5>

                                </div>

                                <div class="descriptionList" ng-show="isSelectedView('list')">
                                    <p>Description</p>
                                    <p>{{book.shortDescription|limitTo:80}}<a href="#/item/{{book._id}}">...</a></p>
                                </div>
                                <p class="author visible-sm visible-xs">{{book.author}}</p>
                                <p class="price">{{book.sellingPrice|currency:"$":0}}</p>
                                <div class="btnHover">
                                     <button class="btn btn-danger btn-xs shopCart" ng-click="addCart(book)"><i class="fa fa-shopping-cart"></i> </button>
                                    <button class="btn btn-default  btn-xs like" ng-click="like(book)"><i class="fa fa-heart" ></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <ul uib-pagination total-items="totalItems" items-per-page="itemsPerPage" ng-model="currentPage" max-size="maxSize" class="pagination-sm pagination-danger" boundary-link-numbers="true"></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>