<div>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">

                <div class="card sidebar-nav">
                    <h5><i class="glyphicon glyphicon-home"></i>
                        <small><b>MANAGEMENT</b></small>
                    </h5>
                    <ul class="nav nav-pills nav-pills-danger nav-stacked">
                        <li><a href="#">Home</a></li>
                        <li class=""><a href="#/admin/addbook">Add</a></li>
                        <li><a href="#/admin/listbook">List</a></li>
                        <li><a href="">Search</a></li>
                    </ul>
                    <h5><i class="glyphicon glyphicon-user"></i>
                        <small><b>USERS</b></small>
                    </h5>
                    <ul class="nav nav-pills nav-pills-danger nav-stacked">
                        <li><a href="#">List</a></li>
                        <li><a href="#">Manage</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-8 ">
                <div class="card card-form ">
                    <div class="addBook">
                        <div class="card-title">Add New Book</div>
                        <form name="postForm " ng-submit=" " ng-init="getBookId()">
                            <div class="form-group ">
                                <label class="control-label" for="inputTitle">Title:</label>
                                <input class="form-control" type="text" ng-model="book.title" id="inputTitle" />
                            </div>
                            <div class="form-group ">
                                <label class="control-label" for="inputAuthor">Author:</label>
                                <input class="form-control" type="text" ng-model="book.author" id="inputAuthor" />
                            </div>
                            <div class="form-group ">
                                <label class="control-label" for="inputPublisher">Publisher:</label>
                                <input class="form-control" type="text" ng-model="book.publisher" id="inputPublisher" />
                            </div>
                            <div class="form-group ">
                                <label class="control-label" for="inputPages">Pages:</label>
                                <input class="form-control" type="text" ng-model="book.pages" id="inputPages" />
                            </div>
                            <div class="form-group ">
                                <label class="control-label" for="inputWeight">Weight:</label>
                                <input class="form-control" type="text" ng-model="book.weight" id="inputWeight" />
                            </div>
                            <div class="form-group ">
                                <label class="control-label" for="inputWidth">Width:</label>
                                <input class="form-control" type="text" ng-model="book.size.width" id="inputWidth" />
                            </div>

                            <div class="form-group ">
                                <label class="control-label" for="inputDepth">Depth:</label>
                                <input class="form-control" type="text" ng-model="book.size.depth" id="inputDepth" />
                            </div>
                            <div class="form-group ">
                                <label class="control-label" for="inputShortDescription">short description</label>
                                <textarea class="form-control" ng-model="book.shortDescription" id="inputShortDescription" rows="5"></textarea>
                            </div>
                            <div class="form-group ">
                                <label class="control-label" for="inputDescription">Full description</label>
                                <textarea class="form-control" ng-model="book.fullDescription" id="inputDescription" rows="10"></textarea>
                            </div>
                            <div class="form-group ">
                                <label class="control-label" for="inputPreviousPrice">Previous price:</label>
                                <input class="form-control" type="text" ng-model="book.previousPrice" id="inputPreviousPrice" />
                            </div>
                            <div class="form-group ">
                                <label class="control-label" for="inputSellingPrice">Selling price:</label>
                                <input class="form-control" type="text" ng-model="book.sellingPrice" id="inputSellingPrice" />
                            </div>
                            <div class="form-group ">
                                <label class="control-label" for="createDate">Create date:</label>
                                <div class="col-md-6">
                                    <p class="input-group date">
                                        <input type="text" class="form-control " uib-datepicker-popup="{{book.createDate| date}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                                        <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
                                    </p>
                                </div>

                            </div>
                            <div class="form-group col-sm-6">
                                <label class="control-label" for="inputCover">Upload cover <i class="fa fa-camera "></i></label>
                                <input type="file" id="uploadimg" ng-model="books.cover" id="inputCover">
                            </div>

                            <div class="form-group col-sm-6">
                                <label class="control-label" for="">Genre</label>
                                <select class="form-control" name="categoryUpdate" ng-model="books.category">
		               	<!--<option ng-repeat="category in category" value="{{category.name}}" ng-model="books.gerne">{{category.name}}</option>-->
		               </select>
                            </div>
                            <input class="btn btn-danger" type="submit" value="Submit" />
                        </form>
                    </div>

                </div>

            </div>

        </div>


    </div>
</div>