<div>
    <div class="container">
        <div class="row">
            <div class="">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#/home">Home</a></li>
                    <li class="breadcrumb-item"><a href="#/category">Danh mục sách</a></li>
                    <li class="breadcrumb-item active">{{book.title}}</li>
                </ol>
            </div>
            <div class="col-md-3 sidenav hidden-sm hidden-xs ">
                <div class="panel ">
                    <div class="panel-heading">
                        <h5>Danh Mục Sách</h5>
                    </div>
                    <div class="panel-body" ng-init="getGenres()">
                        <ul class="nav nav-pills nav-pills-danger nav-stacked">
                            <li role="presentation" ng-repeat="genre in genres"><a href="#/category/{{genre._id}}">{{genre.name}}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-9 " ng-init="getBookId()">
                <div class="card product">

                    <div class="col-xs-5 cover ">
                        <div class="box-image ">

                            <div class="img-zoom">
                                <zoom src="imageSrc" frame="example1" img="image1" zoomlvl="1.5"></zoom>

                            </div>


                        </div>
                    </div>

                    <div class="col-xs-7 infor">
                        <div class="">
                            <h3> <strong>{{book.title}}</strong></h3>
                            <span uib-rating ng-model="rateAvr" max="max" read-only="true" on-hover="hoveringOver(value)"></span>
                            <p>Tác giả: <a href="#/search/{{book.author}}"><i>{{book.author}}</i></a></p>

                            <h5><span class="price" ng-show="book.sellingPrice>0">{{book.sellingPrice|number:0}} đ   </span> <sup ng-show="book.previousPrice>0"><del>     {{book.previousPrice|number:0}} đ</del> </sup></h5>
                            <p class="text-danger" ng-show="book.previousPrice>0"> Tiết kiệm :{{save}}%</p>
                            <div class="hidden-xs">
                                <h5>Giới thiệu</h5>

                                <div ta-bind="text" ng-model="book.shortDescription" ta-readonly='disabled'>

                                </div>
                            </div>

                            <div class="">

                                <div class=" form-group col-sm-6">

                                    <label for="">
							Số lượng
							</label>
                                    <input class="form-control" type="number" min="1" ng-model="qty">

                                </div>

                                <button class="btn btn-danger " ng-click="addCart(book) "><i class="fa fa-shopping-cart "></i> Add to cart</button>

                            </div>

                        </div>

                    </div>
                </div>
                <div class=" card fullDescription ">
                    <div class="card-title ">Giới thiệu sách</div>
                    <div ta-bind="text " ng-model="book.fullDescription " ta-readonly='disabled'>

                    </div>

                </div>
                <div class=" card information ">
                    <div class="card-title ">Thông tin chi tiết</div>
                    <table class="table table-striped table-responsive ">
                        <tr>
                            <th class="col-xs-2 ">SKU</th>
                            <td class="col-xs-10 ">{{book.sku}}</td>
                        </tr>
                        <tr>
                            <th class="col-xs-2 "> Nhà xuất bản</th>
                            <td lass="col-xs-10 ">{{book.publisher}}</td>
                        </tr>
                        <tr>
                            <th class="col-xs-2 "> Trọng lượng </th>
                            <td lass="col-xs-10 "> {{book.weight}} <span ng-show="book.weight "> g</span> </td>
                        </tr>
                        <tr>
                            <th class="col-xs-2 "> Kích thước</th>
                            <td lass="col-xs-10 "> {{book.size.width}}<span ng-show="book.size.width "> x </span> {{book.size.depth}} </td>
                        </tr>
                        <tr>
                            <th class="col-xs-2 "> Số trang</th>
                            <td lass="col-xs-10 "> {{book.pages}}</td>
                        </tr>
                        <tr>
                            <th class="col-xs-2 "> Ngày xuất bản</th>
                            <td lass="col-xs-10 "> {{book.releaseDate|date:"dd/MM/yyyy "}}</td>
                        </tr>
                    </table>
                </div>

                <div class=" reviews card " ng-repeat="comment in book.comments|orderBy: 'createdDate' :true ">
                    <div class="media " ng-init=" ">
                        <div class="col-sm-1 ">
                            <div class="">

                                <img class=" img-circle img-raised avatar  " ng-src="{{comment._user.avatarUrl}} " alt=" ">

                            </div>



                        </div>
                        <div class="col-sm-11 text-left ">
                            <h4 class="media-heading ">{{comment._user.name}}</h4>
                            <span uib-rating ng-model="comment.rate " max="max " read-only="true "></span>
                            <span>-<small> {{comment.createdDate|date:'dd/ MM/ yyyy h:mma'}}</small></span>
                            <p>{{comment.commentBody}}</p>
                        </div>
                    </div>
                </div>



                <div class=" card comment ">

                    <label for=" ">Rate</label>
                    <span uib-rating ng-model="comment.rate " max="max " read-only="isReadonly " on-hover="hoveringOver(value) "></span>
                    <div class="form-group ">
                        <label for=" ">Comment:</label>
                        <textarea class="form-control " rows="3 " ng-model="comment.commentBody "></textarea>
                        <button class="btn btn-danger " type="button " ng-click="isLogged()&&comment.commentBody.length>0&&comment.rate>0?addComment(book):''" data-toggle="modal" data-target="#modalSigin">Submit</button>
                    </div>



                </div>


            </div>
        </div>
    </div>