<div>
    <div class="container">
        <div class="row">
            <div class="">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#/home">Home</a></li>
                    <li class="breadcrumb-item"><a href="#/category">Danh mục sách</a></li>
                    <li class="breadcrumb-item active">{{book.title}}</li>
                </ol>
            </div>
            <div class="col-sm-3 sidenav hidden-xs">
                <div class="panel ">
                    <div class="panel-heading">
                        <h5>Danh Mục Sách</h5>
                    </div>
                    <div class="panel-body" ng-init="getGenres()">
                        <ul class="nav nav-pills nav-pills-danger nav-stacked">
                            <li role="presentation" ng-repeat="genre in genres"><a href="#/category/{{genre._id}}">{{genre.name}}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-9 " ng-init="getBookId()">
                <div class="card">

                    <div class="col-md-5 clearfix ">
                        <div class="box-image ">

                            <div class="img-zoom">
                                <img id="img_01" ng-src="{{book.images.main}}" data-zoom-image="{{book.bigCover}}" class="" />
                            </div>

                            <!--<div class=" clearfix " id="gal1">
                                <div class="col-xs-4 thumnail">
                                    <a href="" data-image="images/2.jpg" data-zoom-image="images/2big.jpg">
                                        <img id="img_02" src="images/2.jpg" class="img-responsive" />
                                    </a>
                                </div>
                                <div class="col-xs-4 thumnail">

                                    <a href="" data-image="images/3.jpg" data-zoom-image="images/3big.jpg">
                                        <img id="img_03" src="images/3.jpg" class="img-responsive" />
                                    </a>
                                </div>
                                <div class="col-xs-4 thumnail">
                                    <a href="" data-image="images/1.jpg" data-zoom-image="images/1big.jpg">
                                        <img id="img_03" src="images/1.jpg" class="img-responsive" />
                                    </a>
                                </div>
                            </div>-->
                        </div>
                    </div>

                    <div class="col-md-7">
                        <div class="">
                            <h3> <strong>{{book.title}}</strong></h3>
                            <span class=" glyphicon glyphicon-star"></span>
                            <span class=" glyphicon glyphicon-star"></span>
                            <span class=" glyphicon glyphicon-star"></span>
                            <span class=" glyphicon glyphicon-star"></span>
                            <span class=" glyphicon glyphicon-star-empty"></span>
                            <p>Tác giả: <i>{{book.author}}</i></p>
                            <h5 class="price">{{book.sellingPrice|currency:"$":0}}</h5>
                            <h5>Giới thiệu</h5>
                            <p>{{book.shortDescription}}</p>
                            <div class="">
                                <!--<div class="form-group col-sm-6">
                                    <label for="">
								Cover
							</label>
                                    <select class="form-control" name="" id="">
									<option value="">Hardcover</option>
									<option value="">Paperback</option>	
							</select>
                                </div>-->
                                <div class=" form-group col-sm-6">

                                    <label for="">
							Số lượng
							</label>
                                    <input class="form-control" type="number" min="1">

                                </div>
                                <button class="btn btn-danger"><i class="fa fa-shopping-cart"></i> Add to cart</button>
                                <!--<button class="btn btn-default btn-fab btn-fab-mini btn-round pull-right "><i class="fa fa-heart" ></i></button>-->
                            </div>

                        </div>

                    </div>
                </div>
                <div class=" card fullDescription">
                    <div class="card-title">Giới thiệu sách</div>
                    {{book.fullDescription}}
                </div>
                <div class=" card information">
                    <div class="card-title">Thông tin chi tiết</div>
                    <table class="table table-striped table-responsive">
                        <tr>
                            <th class="col-xs-2">SKU</th>
                            <td class="col-xs-10">{{book.sku}}</td>
                        </tr>
                        <tr>
                            <th class="col-xs-2"> Nhà xuất bản</th>
                            <td lass="col-xs-10">{{book.publisher}}</td>
                        </tr>
                        <tr>
                            <th class="col-xs-2"> Trọng lượng </th>
                            <td lass="col-xs-10"> {{book.weight}} <span ng-show="book.weight"> g</span> </td>
                        </tr>
                        <tr>
                            <th class="col-xs-2"> Kích thước</th>
                            <td lass="col-xs-10"> {{book.size.width}}<span ng-show="book.size.width"> x </span> {{book.size.depth}} </td>
                        </tr>
                        <tr>
                            <th class="col-xs-2"> Số trang</th>
                            <td lass="col-xs-10"> {{book.pages}}</td>
                        </tr>
                        <tr>
                            <th class="col-xs-2"> Ngày xuất bản</th>
                            <td lass="col-xs-10"> {{book.createDate|date}}</td>
                        </tr>
                    </table>
                </div>
                <div class=" reviews card">
                    <div class="media">
                        <div class="col-sm-2 text-center">
                            <div class="avatar">
                                <a href="#">
                                    <img class="" src="images/8.jpg" alt="...">
                                </a>
                            </div>

                            <p>January 29, 2016</p>
                        </div>
                        <div class="col-sm-10 text-left">
                            <h4 class="media-heading">Kate Williams</h4>
                            <span class=" glyphicon glyphicon-star"></span>
                            <span class=" glyphicon glyphicon-star"></span>
                            <span class=" glyphicon glyphicon-star"></span>
                            <span class=" glyphicon glyphicon-star"></span>
                            <span class=" glyphicon glyphicon-star-empty"></span>
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                    </div>
                </div>
                <div class=" reviews card">
                    <div class="media">
                        <div class="col-sm-2">
                            <a href="#">
                                <img class="" src="images/8.jpg" alt="...">
                            </a>
                            <p>January 29, 2016</p>
                        </div>
                        <div class="col-sm-10 text-left">
                            <h4 class="media-heading">Kate Williams</h4>
                            <span class=" glyphicon glyphicon-star"></span>
                            <span class=" glyphicon glyphicon-star"></span>
                            <span class=" glyphicon glyphicon-star"></span>
                            <span class=" glyphicon glyphicon-star"></span>
                            <span class=" glyphicon glyphicon-star-empty"></span>
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                    </div>
                </div>


                <div class=" card comment">
                    <label for="">Rate</label>
                    <span uib-rating ng-model="rate" max="max" read-only="isReadonly" on-hover="hoveringOver(value)"></span>
                    <div class="form-group">
                        <label for="">Comment:</label>
                        <textarea class="form-control" rows="3"></textarea>
                        <input class="btn btn-danger" type="submit" value="Submit" />
                    </div>

                </div>

                <!--<div class="wrap">
                    <div class="heading  hidden-xs">
                        <h5>Related Book </h5>
                    </div>
                    <div ng-controller="MultiCarousel as multicarousel " class="multi-item-carousel hidden-xs ">
                        <div uib-carousel active="multicarousel.active" interval="multicarousel.myInterval">
                            <div uib-slide ng-repeat="slide in multicarousel.slides" index="slide.id">
                                <div class="col-xs-3 box">
                                    <div class="item panel panel-default">
                                        <div class="panel-body text-center">
                                            <div class="imagePanel">
                                                <a href="#/item/{{$index}}"><img ng-src="{{slide.cover}}" class="panelImage" alt=""></a>
                                            </div>

                                            <div class="description text-left">
                                                <h6>Description</h6>
                                                {{slide.description|limitTo:90}}<a href="#/item/{{$index}}">...</a>
                                            </div>
                                        </div>
                                        <div class="panel-footer">
                                            <h5>
                                                <a href="#/item/{{$index}}" class="title">{{slide.title | limitTo:20}}...</a>
                                            </h5>

                                            <p class="price">{{slide.price}}$</p>

                                            <button class="btn btn-danger btn-xs "><i class="fa fa-shopping-cart"></i> </button>
                                            <button class="btn btn-default btn-xs "><i class="fa fa-heart" ></i></button>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>-->

            </div>
        </div>
    </div>