<div class="container" ng-init="viewProfile();paging(likeBook)">
    <div class="row ">
        <div class="col-sm-3 hidden-xs">
            <div class="profile-sidebar wrap">

                <div class="sidenav hidden-xs ">
                    <div class="panel profile">
                        <div class="panel-heading text-center">
                            <div class="profile-userpic">
                                <img ng-src="{{user.avatarUrl}}" class="img-circle img-raised img-responsive user-image" alt="">
                            </div>
                            <h5>{{user.name}}</h5>
                        </div>
                        <div class="panel-body">
                            <ul class="nav nav-pills nav-pills-danger nav-stacked">
                                <li role="presentation"><a href="#/user">Quản Lý Tài Khoản</a></li>
                                <li role="presentation"><a href="#/user/bill">Đơn Đặt Hàng</a></li>
                                <li role="presentation" class="active"><a href="#/user/like">Danh Sách Yêu Thích</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="wrap">
                <div class="heading  ">
                    <h5>Tất Cả Sách</h5>
                </div>

                <div class="fillter">
                    <label for="">Lọc theo:</label>
                    <select name="sort" ng-model="sortby" ng-change="changePage()">
	 			<option value="title">Tên</option>
	 			<option value="sellingPrice">Giá </option>
	 			<option value="author">Tác giả</option>
	 		</select>
                    <label for="">View: </label><button class="btn btn-default btn-sm" ng-click="setView('list')" type="button"><i class="fa  fa-th-list"></i></button>
                    <button class="btn btn-default btn-sm" ng-click="setView('block')" type="button"><i class="fa fa-th-large"></i></button>
                </div>
                <div ng-class="isSelectedView('block')?'col-md-3 col-sm-6 block': 'col-sm-12 list '   " ng-repeat="book in filteredBooks ">
                    <div class="item panel panel-default">
                        <div ng-class="isSelectedView('block')?'panel-body':'panel-body list col-sm-3'">
                            <div ng-class="isSelectedView('block')? 'imagePanel':' imagePanel list'">
                                <a href="#/item/{{book._id}}"><img ng-src="{{book.images.main}}" class="panelImage" alt=""></a>
                            </div>

                            <div class="descriptionBlock text-left" ng-show="isSelectedView('block')">
                                <p ta-bind="text" ng-model="book.shortDescription" ta-readonly='disabled'>

                                </p>
                                <a href="#/item/{{book._id}}" class="price">Xem thêm</a>

                            </div>
                        </div>
                        <div ng-class="isSelectedView('block')? 'panel-footer': 'panel-footer list col-sm-9'">

                            <div ng-class="isSelectedView('block')? 'titlePanel':''">
                                <h5>
                                    <a href="#/item/{{book._id}}" class="title">{{book.title | limitTo:25}}<span ng-show="book.title.length>25">...</span></a>
                                </h5>

                            </div>

                            <div class="descriptionList" ng-show="isSelectedView('list')">
                                Giới thiệu
                                <p ta-bind="text" ng-model="book.shortDescription" ta-readonly='disabled'>

                                </p>
                                <a href="#/item/{{book._id}}" class="price">Xem thêm</a>

                            </div>
                            <p class="author" ng-show="isSelectedView('list')">{{book.author}}</p>
                            <p class="price" ng-show="book.sellingPrice>0">{{book.sellingPrice|number:0}} đ</p>
                            <div class="btnHover">
                                <a class="btn btn-danger btn-xs shopCart" ng-click="addCart(book)"><i class="fa fa-shopping-cart"></i> </a>
                                <button ng-class="checkLike(book)? 'btn btn-danger  btn-xs like':'btn btn-default  btn-xs like'" ng-click="like(book)"><i class="fa fa-heart" ></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <ul uib-pagination total-items="totalItems" items-per-page="itemsPerPage" ng-model="currentPage" max-size="maxSize" class="pagination-sm pagination-danger" boundary-link-numbers="true" next-text="Trang kế" previous-text="Trang trước" ng-click="changePage()"></ul>
                </div>
            </div>
        </div>
    </div>
</div>