<div ng-controller="LoginController as loginCtrl">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="card text-center">
                    <div class="account-box" ng-show="loginCtrl.isSelectedTab('login')">
                        <form class="form-signin" action="#">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Email" required autofocus />
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="Password" required />
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" >
                                    Keep me signed in
                                </label>
                            </div>

                            <button class="btn btn-danger" type="submit">Sign in</button>
                        </form>
                        <a class="forgotLnk" href="">I can't access my account</a>
                        <div class="or-box">
                            <span class="or">OR</span>
                            <div class="row">
                                <div class="col-md-6 ">
                                    <a href="" class="btn btn-info">Facebook</a>
                                </div>
                                <div class="col-md-6 ">
                                    <a href="" class="btn btn-danger">Google</a>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 ">
                                <a href="" class="btn btn-default btn-block" ng-click="loginCtrl.selectTab('signup')">Create New Account</a>
                            </div>
                        </div>

                    </div>
                    <div class="signup" ng-show="loginCtrl.isSelectedTab('signup')">
                        <form class="form-signup" action="#">
                            <div class="form-group">
                                <input type="text" name="first_name" class="form-control" placeholder="First Name">
                            </div>
                            <div class="form-group">
                                <input type="text" name="last_name" class="form-control" placeholder="Last Name">
                            </div>
                            <div class="form-group">
                                <input type="email" name="email" class="form-control " placeholder="Email Address">
                            </div>
                            <div class="form-group">
                                <input type="text" name="display_name" class="form-control " placeholder="Mobile No.">
                            </div>
                            <div class="form-group">
                                <input type="password" name="password" class="form-control " placeholder="Password">
                            </div>
                            <div class="form-group">
                                <input type="password" name="password_confirmation" class="form-control " placeholder="Confirm Password">
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" >
                                   I agree
                                </label>
                            </div>
                            <p>
                                By clicking <strong class="label label-success">Register</strong>, you agree to the <a href="#">Terms and Conditions</a> set out by this site, including our Cookie Use.
                            </p>
                            <div class="col-xs-12 col-md-6"><input type="submit" value="Register" class="btn btn-success"></div>
                            <div class="col-xs-12 col-md-6"><a href="" class="btn btn-danger" ng-click="loginCtrl.selectTab('login')">Sign In</a></div>
                        </form>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>