<div class="container">
    <div class="row ">
        <div class="col-sm-3">
            <div class="profile-sidebar wrap">

                <div class="sidenav hidden-xs ">
                    <div class="panel profile">
                        <div class="panel-heading text-center">
                            <div class="profile-userpic">
                                <img ng-src="{{user.userAvatarUrl}}" class="img-circle img-raised img-responsive user-image" alt="">
                            </div>
                            <h5>{{user.userName}}</h5>
                        </div>
                        <div class="panel-body">
                            <ul class="nav nav-pills nav-pills-danger nav-stacked">
                                <li role="presentation"><a href="#/user">Quản Lý Tài Khoản</a></li>
                                <li role="presentation"><a href="#/user/bill">Đơn Đặt Hàng</a></li>
                                <li role="presentation"><a href="#/user/like">Danh Sách Yêu Thích</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-9">
            <div class=" wrap">
                <div class="heading  ">
                    <h5>Thông Tin Tài Khoản</h5>
                </div>
                <div class="profile-content" ng-show="!editProfie">
                    <h4>{{user.userName}}</h4>
                    <p>Email: {{user.userEmail}}</p>
                    <p>Địa chỉ:202/17/ Lý Thường Kiệt Hồ Chí Minh, Quận 10, Phường 14 </p>
                    <p>Điện thoại: 01234555678</p>
                    <button class="btn btn-success" ng-click="editProfie=true"> Thay đổi</button>
                </div>

                <form class="profile-content" name="formProfile" ng-show="editProfie" novalidate>

                    <div class="form-group">
                        <input type="text" name="username" ng-model="editUser.userName" class="form-control" placeholder="Tên" ng-required="true" minlength="5">
                        <p ng-show="formProfile.username.$invalid && !formProfile.username.$pristine" class="text-danger"> Tên không hợp lệ</p>
                    </div>


                    <div class="form-group">
                        <input type="password" name="password" ng-model="editUser.password" class="form-control " minlength="5" placeholder="Password" ng-required="true" minlength="5">

                    </div>
                    <div class="form-group">
                        <input type="password" name="passwordConfirm" ng-model="editUser.passwordConfirm" compare-to="editUser.password" class="form-control " placeholder="Nhập lại password" ng-required="true">
                        <p ng-show="formProfile.passwordConfirm.$invalid && !formProfile.passwordConfirm.$pristine" class="text-danger"> Password không hợp lệ</p>

                    </div>
                    <div class="col-xs-12 col-md-6"><input class="btn btn-danger " type="reset" ng-click="editProfie=false"></div>
                    <div class="col-xs-12 col-md-6"><input type="submit" value="Thay đổi" class="btn btn-success pull-right"></div>

                </form>
            </div>
        </div>
    </div>
</div>